body {
    margin: 0;
    padding: 0;
    background: #ccee66;
    color: aliceblue;
    padding: 20px 160px;
    height: 95vh;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

body::before {
    content: '';
    background-color: #121212;
    height: 150%;
    width: 100%;
    position: absolute;
    top: -15px;
    left: -750px;
    transform: rotate(-70deg);

}

body::after {
    content: 'nike';
    position: absolute;
    top: 43%;
    left: 43%;
    color: black;
    font-size: 250px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.logo {
    width: 80px;
}

h4 {
    font-size: 30px;
}

h1 {
    font-size: 80px;
}

.botao-carrinho {
    background: #a3be52;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.botao-carrinho:hover {
    opacity: 0.7;
}

.imgagem-tenis {
    width: 800px;
    transform: rotate(-25deg);

}

.caixa-principal {
    display: flex;
    /*habilita alguns super poderes  */
    justify-content: space-between;
    /* alinha na horizontal */
    align-items: center;
    /* alinha na vertical */
    height: 75%;
    z-index: 1;
    position: relative;
}

.caixa-texto {
    max-width: 500px;
    /* largura maxima */
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    margin-top: 50px;
    gap: 20px;
    
}
      
.botoes {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.verde {
    background-color: #ccee66;
}

.rosa {
    background-color: #ff9eb5;
}

.azul {
    background-color: #58cced;
}

.botoes:active {
    opacity: 0.6;
}